* {
    transition: all .8s ease-in-out;
}

textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }

  /* Time Block Styling */
  .timeblock {
    border-radius: 15px;
  }

  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }

  /* Timing Indicators */
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
   /* Save Button on the Right */
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
    /* width: 25%; */
    height: auto;
    /* Flex Settings */
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  /* Save Button Hover Effect */ 
  .saveBtn img:hover {
    width: 160%;
    transition: all 2s ease-in-out;
  }

#theme-switch {
    /* Position */
    position: fixed;
    bottom: 15px;
    right: 30px;
    padding: .5vh .5vw;
    /* Deco */
    border-radius: 30px;
}

#jumbotron {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 30vh;
}

#jumbotron p, #jumbotron h1 {
    width: 50%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#current-time {
    font-family: "lucida console";
    font-size: 2rem;
    color: deeppink;
}

#current-day {
    font-family: "lucida console";
    font-size: 2rem;
}